/* font-family:Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif; */
/* 颜色配置 var(--Colors); -next-line */
/* stylelint-disable */
:root{
  --gy-lter:#7e92b5;
  --gy-lt:#6c7d9b;
  --gy:#5a6881;
  --gy-dk:#495468;
  --gy-dker:#37404f;
  --gy-o:#89a0b9a1;
  --gy-o1:#4e5a6f10;
  --gy-o2:#4e5a6f20;

  --atom-lter:#343946;
  --atom-lt:#2f333d;
  --atom:#282c35;
  --atom-dk:#22252c;
  --atom-dks:#202329;
  --atom-dker:#1d2025;
  --atom-o:#1b1d22b0;

  --dm-lter:#856ed8;
  --dm-lt:#7561bf;
  --dm:#6654a6;
  --dm-dk:#56478c;
  --dm-dker:#463a72;
  --dm-o:#56478c40;

  --gn-lter:#88af5b;
  --gn-lt:#74964e;
  --gn:#607c41;
  --gn-dk:#4d6333;
  --gn-dker:#394926;
  --gn-o:#4d633340;

  --sky-lter:#39b596;
  --sky-lt:#319b81;
  --sky:#2a836d;
  --sky-dk:#216856;
  --sky-dker:#194f41;
  --sky-o:#21685640;
  --sky-o5:#00b6ef50;

  --bl-lter:#4383cc;
  --bl-lt:#3a72b2;
  --bl:#336399;
  --bl-dk:#2a517f;
  --bl-dker:#214166;
  --bl-o:#2a517f40;

  --yl-lter:#e8c34c;
  --yl-lt:#ceae44;
  --yl:#b4983c;
  --yl-dk:#9b8333;
  --yl-dker:#826d2a;
  --yl-o:#9b833340;

  --og-lter:#f28a52;
  --og-lt:#d87b49;
  --og:#bf6c40;
  --og-dk:#a55e38;
  --og-dker:#8c502f;
  --og-o:#a55e3840;

  --red-lter:#f25252;
  --red-lt:#d84949;
  --red:#bf4040;
  --red-dk:#a53838;
  --red-dker:#8c2f2f;
  --red-o:#a5383840;

  --white-o:#fff5;
  --white:#fff;
  --white-dk:#c6d3de;
  --white-dker:#89a0b9;
  --black-o:#0005;
  --black:#000;
}

/* 滚动条 :window-inactive 窗口失活 */
::-webkit-scrollbar{width:8px;height:8px;background:transparent;}
/* ::-webkit-scrollbar-button{width:8px;height:8px;background-color:red;} */
::-webkit-scrollbar-track{border:2px solid transparent;border-radius:5px;box-shadow:inset 0 0 0 5px #00000015;}
/* ::-webkit-scrollbar-track-piece{} */
::-webkit-scrollbar-thumb{border-radius:5px;background-color:var(--atom);}
::-webkit-scrollbar-thumb:active{border-radius:0;background-color:var(--atom-lt);}
::-webkit-scrollbar-corner{border-radius:50%;background-color:#0002;}
/* ::-webkit-resizer{background-color:#000;} */

::selection{color:var(--white-dk);background-color:var(--sky-o5);}

*, *:before, *:after{box-sizing:border-box;}
*:focus{outline:0;}

/* font-size:62.5% 1.428571429 system-ui */
html, body{line-height:1.5;overflow:hidden;width:100%;height:100%;margin:0;padding:0;}
html{font-size:62.5%;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent;}
body{font-family:Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;font-size:12px;font-weight:400;user-select:none;color:var(--gy-dk);background-color:var(--atom-dker);-webkit-font-smoothing:antialiased;}

/* 取消文本装饰  text-decoration:none */
ol, ul, li{margin:0;padding:0;list-style:none;}

/* fieldset,img{border:0} */
button, input, optgroup, select, textarea{font-family:inherit;font-size:inherit;line-height:inherit;margin:0;text-decoration:none;color:inherit;border:0;outline:none;background:none;}

input::placeholder, .placeholder{font-size:1em;opacity:.3;color:inherit;}
/* :focus::placeholder{opacity:1} */
input[readonly], input[disabled], .disabled{pointer-events:none;}

button{appearance:none;}
textarea{overflow:auto;resize:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;border:1px solid var(--atom-lt);}
th, td{padding:3px 5px;border:1px solid var(--atom-lt);}
caption, th{text-align:left;}
