/* 视图 pointer-events:none; content,content-visibility */
[data-v-app]{display:contents;}
/* 容器浮动 */
.nui-app-root,
.nui-app-ppp-mod,
.nui-app-ppp-debris,
.nui-app-ppp-load,
.nui-app-ppp-msg,
.nui-app-ppp-paa{position:fixed;top:0;left:0;}

/* 主容器 */
.nui-app-root{right:0;bottom:0;z-index:1;overflow:hidden;background-color:var(--atom-dker);}

/* 无事件容器 */
.nui-app-ppp-mod,
.nui-app-ppp-load,
.nui-app-ppp-msg,
.nui-app-ppp-debris,
.nui-app-ppp-paa{z-index:2;width:0;height:0;pointer-events:none;}
.nui-app-ppp-debris > *{pointer-events:auto;}

/* 消息 */
.nui-app-ppp-msg{top:38px;right:15px;left:auto;z-index:9;display:flex;flex-direction:column;align-items:flex-end;}

/* 浮动遮罩容器内容居中 */
/* overscroll-behavior:contain; 阻止底层滚动 */
.nui-popup-mask{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1;display:flex;align-items:center;justify-content:center;overflow:hidden;overscroll-behavior:contain;pointer-events:none;}
.nui-popup-mask:before{position:absolute;top:30px;right:0;bottom:0;left:0;z-index:-1;pointer-events:auto;content:'';background-color:#1d1f25de;opacity:1;transition:opacity .2s;}
.nui-popup-mask.--am:before{animation:fadeIn .2s;}
.nui-popup-mask > *{min-width:0;max-width:100%;min-height:0;max-height:100%;pointer-events:auto;}

/* 主视图内容 */
.nui-app-root > *{position:absolute;right:0;left:0;}
/* 背景 */
.nui-app-bg{top:0;bottom:0;z-index:-1;display:flex;align-items:center;justify-content:center;font-size:40rem;color:#20222878;pointer-events:none;}
/* 头部 */
.nui-app-head{top:0;display:flex;justify-content:space-between;height:30px;background-color:var(--atom-dk);}
.nui-app-head:before{position:absolute;bottom:0;width:100%;content:'';border-bottom:.56px solid #0006;}
.nui-app-drag{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-app-region:drag;}
.nui-app-logo, .nui-app-window-controls{flex:none;min-width:0;}
.nui-app-logo{display:flex;align-items:center;padding:0 5px;font-size:18px;font-weight:bolder;color:var(--gy-dker);}
.nui-app-logo i{font-size:20px;}
.nui-app-window-controls{position:relative;z-index:1;display:flex;-webkit-app-region:no-drag;}
.nui-app-window-controls > span{display:flex;flex:none;align-items:center;justify-content:center;width:46px;min-width:0;font-size:16px;text-align:center;border-radius:0;}
.nui-app-window-controls > span:hover{background-color:var(--atom-lt);}
.nui-app-window-controls > span:last-child:hover{color:#fff;background-color:var(--red-dker);}
/* 头部 动态组件容器 */
.nui-app-dynamic-tools{position:relative;z-index:1;display:flex;flex:1;margin:0 40px;background-color:var(--atom-dk);box-shadow:0 2px 3px #0004;transition:transform .3s;transform:translate3d(0, 0, 0);-webkit-app-region:no-drag;}
.nui-app-dynamic-tools > *{min-width:0;}
.nui-app-dynamic-tools:before, .nui-app-dynamic-tools:after{position:absolute;top:0;left:0;z-index:-1;width:30px;height:100%;content:'';background-color:inherit;border-radius:0 0 0 10px;box-shadow:-3px 1px 3px #0004;transform:skewX(30deg);transform-origin:bottom;}
.nui-app-dynamic-tools:after{right:0;left:auto;border-radius:0 0 10px 0;box-shadow:3px 1px 3px #0004;transform:skewX(-30deg);}
.nui-app-dynamic-tools > i{display:flex;flex:none;align-items:center;justify-content:center;width:36px;font-size:14px;}
.nui-app-dynamic-tools > .nicon-tools{margin-left:0;}
.nui-app-dynamic-tools > .nicon-chevron-up{margin-right:0;cursor:pointer;}
.nui-app-dynamic-tools > div{flex:1;min-width:0;border-right:.5px solid #0006;border-left:.5px solid #0006;}

/* 头部视图 */
.nui-app-views{top:30px;bottom:0;display:flex;}

/* 首页独立视图容器 */
.nui-app-home{display:flex;flex-direction:column;align-items:center;justify-content:center;}
.nui-app-home-title{flex:none;font-size:46px;font-weight:bolder;text-align:center;}
.nui-app-home-body{max-width:100%;min-height:50%;max-height:100%;padding:15px;overflow:overlay;}
.nui-app-head ~ .nui-app-home{top:30px;bottom:0;}

/* 嵌套布局 */
.nui-lut-col, .nui-lut-tabs, .nui-lut-tab, .nui-lut-content{min-width:0;max-width:100%;min-height:0;max-height:100%;}
.nui-lut-col{position:relative;display:flex;flex:none;}
.nui-lut-col:last-of-type{flex:1;}
.nui-lut-col.--h{flex-direction:row;}
.nui-lut-col.--v{flex-direction:column;}
.nui-lut-col.--panel{display:block;}
.nui-lut-panel{position:relative;display:flex;flex-direction:column;width:100%;height:100%;background-color:var(--atom-dks);}
.nui-lut-tabs{position:relative;display:flex;flex:none;height:24px;padding-right:10px;background-color:#0001;}
.nui-lut-tabs:after{position:absolute;bottom:0;left:0;width:100%;content:'';border-bottom:1px solid #0002;}

.nui-lut-tab{position:relative;display:inline-flex;align-items:center;padding:4px 5px 0;overflow:hidden;font-size:10px;color:var(--gy-dker);cursor:pointer;}
.nui-lut-tab:before{position:absolute;top:4px;right:0;bottom:0;left:0;content:'';}
.nui-lut-tab:first-child{padding-left:10px;}
.nui-lut-tab:first-child:before{left:5px;}
.nui-lut-tab > *{pointer-events:none;}
.nui-lut-tab:hover, .nui-lut-tab.--active{color:var(--bl-dker);}
.nui-lut-tab.--active:before{background-color:#ffffff08;}
.nui-lut-content{position:relative;flex:1;}
.nui-lut-component{position:absolute;top:0;left:0;display:none;width:100%;height:100%;overflow:overlay;}
.nui-lut-component.--active{display:block;}

/* 分割线 */
.nui-lut-line{position:absolute;top:0;left:0;display:flex;align-items:center;justify-content:center;}
.nui-lut-line:before{display:block;width:100%;min-width:7px;height:100%;min-height:7px;content:'';border-radius:5px;opacity:.3;}
/* .nui-lut-line:active:before{background-color:var(--bl);} */
.nui-lut-col.--v > * > .nui-lut-line{right:0;height:0;border-top:1px solid #0003;}
.nui-lut-col.--h > * > .nui-lut-line{bottom:0;width:0;border-left:1px solid #0003;}

/* 布局示意 cubic-bezier(.7, 0, .3, 1) */
.nui-lut-area{position:fixed;top:0;left:0;z-index:9999;pointer-events:none !important;background-color:var(--bl-lter);border-radius:4px;opacity:.5;transition:opacity .15s;transform:translateZ(0);}

/* 侧边栏布局 */
.nui-lut-float{display:contents;}
.nui-lut-side, .nui-lut-main{min-width:0;height:100%;}
.nui-lut-side{display:flex;flex:none;max-width:40%;}
.nui-lut-main{flex:1;}

/* 独立中间主视图分拆 */
.nui-lut-main.--v{display:flex;flex-direction:column;}
.nui-lut-main-head, .nui-lut-main-foot{position:relative;flex:none;min-height:24px;}

.nui-lut-main-head:after,
.nui-lut-main-foot:after{position:absolute;left:0;width:100%;content:'';}
.nui-lut-main-head:after{bottom:0;border-bottom:1px solid #0003;}
.nui-lut-main-foot:after{top:0;border-top:1px solid #0003;}
.nui-lut-main-body{position:relative;flex:1;width:100%;min-height:0;max-height:100%;}

.nui-lut-group{position:relative;display:flex;flex:0 1 auto;flex-direction:column;min-width:40px;height:100%;background-color:var(--atom-dks);}
.nui-lut-group-item{position:relative;flex:none;min-width:0;min-height:0;}
.nui-lut-group:not(.--min) > .nui-lut-group-item:last-child{flex:1;height:auto !important;}

.nui-lut-group-foot, .nui-lut-float-item-foot{display:flex;justify-content:space-between;width:100%;height:6px;background-color:#0001;border-top:1px solid #0002;border-radius:0 0 3px 3px;}
.nui-lut-group-foot i, .nui-lut-float-item-foot i{flex:none;width:10px;cursor:ne-resize;}
.nui-lut-group-foot span, .nui-lut-float-item-foot span{flex:1;cursor:n-resize;}
.nui-lut-group-foot span + i, .nui-lut-float-item-foot span + i{cursor:nw-resize;}

.nui-lut-side.--left .nui-lut-group-foot i:first-child,
.nui-lut-side.--right .nui-lut-group-foot span + i{display:none;}

/* 浮动 */
.nui-lut-float-item{position:absolute;z-index:2;display:flex;flex-direction:column;background-color:var(--atom-dks);border-radius:3px;box-shadow:0 5px 10px #0005;}
.nui-lut-float-item:focus-within{z-index:3;}

.nui-lut-float-item-head,
.nui-lut-float-item-foot{flex:none;min-width:0;}
.nui-lut-float-item-head{height:10px;cursor:grab;background-color:#ffffff03;border-bottom:1px solid #0004;border-radius:3px 3px 0 0;}
.nui-lut-float-item > .nui-lut-group{flex:1;min-width:0;}

/* 侧边线 */
.nui-lut-group > .nui-lut-line{bottom:0;z-index:1;width:0;border-left:1px solid #0003;}
.nui-lut-side.--left .nui-lut-group > .nui-lut-line{right:0;left:auto;}
.nui-lut-group-item > .nui-lut-line{right:0;z-index:1;height:0;border-top:1px solid #0003;}

/* min 紧缩模式 outline:5px solid red; */
.nui-lut-tabs-min{position:relative;padding:15px 0 5px;color:var(--gy-dker);}
.nui-lut-tabs-min:before{position:absolute;top:5px;right:7px;left:7px;height:5px;content:'';background-color:#0002;border-radius:4px;}

.nui-lut-tab-min{display:flex;align-items:center;justify-content:center;height:32px;padding:0 7px;cursor:pointer;}
.nui-lut-tab-min.--active{color:var(--bl-dker);background-color:var(--atom-dk);}
.nui-lut-tab-min i{width:26px;font-size:16px;text-align:center;}
.nui-lut-tab-min ins{margin-left:0;}
.nui-lut-group.--min > .nui-lut-group-item{flex:none !important;height:auto !important;}
.nui-lut-group.--min > .nui-lut-group-item > .nui-lut-line{pointer-events:none;}
.nui-lut-group.--min .nui-lut-panel{position:absolute;top:0;left:100%;z-index:2;display:none;margin:0 4px;border-radius:0 0 3px 3px;box-shadow:0 5px 10px #0003;}
.nui-lut-group.--min .nui-lut-tabs{margin-top:5px;border-top:1px solid #0002;}
.nui-lut-group.--min:focus-within .nui-lut-panel{z-index:3;}
.nui-lut-side.--right .nui-lut-group.--min .nui-lut-panel{right:100%;left:auto;}
.nui-lut-group.--min .nui-lut-panel.--active{display:flex;}

.nui-lut-float-item > .nui-lut-group.--min.--right .nui-lut-panel{right:100%;left:auto;}
