/* 基础列表 */
.nui-list{position:relative;font-size:12px;color:var(--bl-dk);}
.nui-list-item{position:relative;display:flex;align-items:center;padding:.5em;line-height:1.5;color:var(--gy-dk);cursor:pointer;border-bottom:.56px solid #0002;transition:color .15s;}

.nui-list-item:before,
.nui-list-item:after{position:absolute;transition:background-color .15s;}
.nui-list-item:before{top:0;right:0;bottom:0;left:0;opacity:.1;}
.nui-list-item:after{right:.5em;display:block;width:.5em;height:.5em;border-radius:50%;opacity:.5;}

.nui-list-item *{z-index:1;pointer-events:none;}
.nui-list-item i{width:1.25em;text-align:center;}
.nui-list-item ins{flex:1;}
.nui-list-item.--line{padding:4px;font-size:10px;line-height:1.2;color:var(--gy-dker);pointer-events:none;background-color:#0001;}
.nui-list-item.--line:before{display:none;}

.nui-list-item:hover,
.nui-list-item.--active{color:inherit;}

.nui-list-item.--active:before,
.nui-list-item.--active:after{content:'';background-color:currentColor;}

.nui-list.--sm .nui-list-item{padding:.25em .35em;}

/* 树列表 */
.nui-tree{flex:1;min-width:0;max-width:100%;min-height:0;max-height:100%;padding:5px 10px 30px;overflow:overlay;font-size:12px;color:var(--bl-dk);}
.nui-tree ul, .nui-tree li{position:relative;display:block;pointer-events:none;}
.nui-tree-item{position:relative;z-index:1;display:flex;align-items:center;height:1.75em;padding-right:10px;pointer-events:auto;cursor:pointer;}
.nui-tree-item > *{min-width:0;color:var(--gy-dk);}
.nui-tree-item > span{display:flex;align-items:center;}
.nui-tree-item i{width:1.25em;text-align:center;}
.nui-tree-item ins{margin-left:.25em;}

.nui-tree ul ul{display:none;margin-left:.75em;}
.nui-tree-nodes.--open > .nui-tree-in{display:block;}
.nui-tree li:not(.nui-tree-nodes){padding-left:1.25em;}

.nui-tree hr{position:absolute;top:.875em;bottom:0;left:-.125em;pointer-events:none;border-left:1px solid var(--atom-lter);opacity:.5;}
.nui-tree hr:before, .nui-tree hr:after{position:absolute;left:-1px;content:'';}
.nui-tree hr:before{top:-1px;width:.4em;border-bottom:1px solid var(--atom-lter);}
.nui-tree hr:after{top:-.875em;height:.875em;border-left:1px solid var(--atom-lter);}
.nui-tree > ul > li > hr{display:none;}
.nui-tree:not(.--line) li:last-child > hr{border-color:transparent !important;}
.nui-tree li:not(.nui-tree-nodes) > hr:before{width:1.125em;}

.nui-tree .nui-tree-item.--ac > span,
.nui-tree .nui-tree-item > *:hover,
.nui-tree li:hover > .nui-tree-item > .nui-tree-arrow{color:inherit;}

.nui-tree li:hover > hr:after, .nui-tree li:hover > hr:before{border-color:currentColor;}
.nui-tree ul:hover > li > hr, .nui-tree ul:hover > li > hr:after{border-color:currentColor;}

.nui-tree ul > li:hover > hr,
.nui-tree ul > li:hover ~ li > hr,
.nui-tree ul > li:hover ~ li > hr:after{border-color:var(--atom-lter);}

/* 行模式 */
.nui-tree.--line .nui-tree-in{flex-wrap:wrap;border-bottom:5px solid transparent;}
.nui-tree.--line .nui-tree-in > li{flex:none;min-width:0;max-width:100%;}
.nui-tree.--line .nui-tree-item{padding-right:5px;}
.nui-tree.--line li > hr{top:1.5em;bottom:.5em;left:.625em;display:none;border-color:var(--atom) !important;}
.nui-tree.--line li > hr:before{display:none;}
.nui-tree.--line li > hr:after{top:auto;bottom:0;left:-2px;width:4px;height:4px;background:var(--atom-lter);border-left:0;}
.nui-tree.--line .nui-tree-in:empty{padding-bottom:5px;}

.nui-tree.--line .nui-tree-nodes.--open{flex:0 0 100%;}
.nui-tree.--line .nui-tree-nodes.--open > .nui-tree-in{display:flex;}
.nui-tree.--line .nui-tree-nodes.--open > hr{display:block;}

/* 拖放排序 .--drag */
.nui-tree.--drag .nui-tree-item *{pointer-events:none;}

.nui-tree.--drag ul:after,
.nui-tree.--drag ul:before,
.nui-tree.--drag .nui-tree-item:before{position:absolute;left:0;width:100%;content:'';}
.nui-tree.--drag ul:after{bottom:0;z-index:2;height:.75em;pointer-events:auto;}

.nui-tree.--drag ul:before,
.nui-tree.--drag .nui-tree-item:before{top:-2px;height:4px;pointer-events:none;border-radius:2px;}
.nui-tree.--line.--drag .nui-tree-item:before{top:.375em;left:-2px;width:3px;height:1em;}
.nui-tree.--drag ul:before{top:auto;bottom:-2px;}

.nui-tree.--drag ul:focus:before,
.nui-tree.--drag .nui-tree-item:focus:before{background-color:#009aff75;}

.nui-tree li.--drop > .nui-tree-item{z-index:3;}
.nui-tree li.--drop > .nui-tree-item:before{display:none;}
.nui-tree li.--drop > ul{opacity:.5;}
.nui-tree li.--drop ul:after{display:none;}

.nui-tree li.--drop ul,
.nui-tree li.--drop ul *,
.nui-tree li.--drop + li > .nui-tree-item{pointer-events:none !important;}

/* 折叠菜单 */
.nui-collapse{position:relative;color:var(--bl-dker);background-color:var(--atom-dks);}
.nui-collapse-item + .nui-collapse-item{border-top:1px solid #0002;}
.nui-collapse-head, .nui-collapse-head > div{display:flex;align-items:center;min-width:0;}
.nui-collapse-head{justify-content:space-between;padding:5px 8px;color:var(--gy-dk);background-color:var(--atom-dk);}
.nui-collapse-head > div{flex:1;}
.nui-collapse-head > i{width:2em;margin-right:-6px;color:var(--atom-lt);text-align:center;cursor:pointer;}
.nui-collapse-head.--l > div{order:1;}
.nui-collapse-head.--l > i{order:0;margin-right:0;margin-left:-7px;}

.nui-collapse-body{display:none;color:var(--gy-dk);}
.nui-collapse-item.--open > .nui-collapse-head{color:inherit;border-bottom:1px solid #0003;}
.nui-collapse-item.--open > .nui-collapse-body{display:block;}
.nui-collapse-item:last-child{border-bottom:1px solid #0002;}

/* 按钮 */
.nui-btn, .nui-label{position:relative;display:inline-flex;align-items:center;justify-content:center;overflow:hidden;font-size:12px;line-height:1;text-align:center;vertical-align:middle;}
.nui-btn *, .nui-label *{pointer-events:none;}
.nui-btn{z-index:1;min-width:1.75em;min-height:2em;padding:.5px .5em 0;cursor:pointer;border-radius:.3em;}
.nui-btn > i{display:flex;flex:none;align-items:center;justify-content:center;width:1em;height:1em;text-align:center;}
.nui-btn > * + *, .nui-label > * + *{margin-left:.35em;}
/* .nui-btn > * + ins, .nui-label > * + ins{margin-left:.35em;} */
.nui-btn.--r{border-radius:1em;}
.nui-btn:after, .nui-btn[class*="color"]:before{position:absolute;top:0;right:0;bottom:0;left:0;content:'';border-radius:inherit;opacity:.3;}
.nui-btn[class*="color"]:before{border:1px solid currentColor;opacity:.3;}
.nui-btn:after{display:none;margin:1px;border:2px solid #000;}
.nui-btn[class*="color"]:after{margin:0;background-color:currentColor;border:0;opacity:.1;}
.nui-btn.--ac:after{display:block;}
.nui-btn.--dd{color:var(--gy-dker);pointer-events:none;}
.nui-btn.--dd[class*="bg"]{background-color:#fff1;}
.nui-btn.--dd.--sdw{box-shadow:none;}
.nui-btn:active{opacity:.8;}
.nui-btn.--b-none:before{display:none;}

/* 徽章 标签 */
.nui-label[class*="bg"]{padding:.25em .36em;line-height:1.15;border-radius:.35em;}
.nui-label[class*="color"]{padding:.25em .36em;line-height:1.15;border-radius:.35em;}

.nui-badge{position:relative;display:inline-block;min-width:8px;min-height:8px;padding:0 4px;font-size:9px;line-height:1.5;text-align:center;vertical-align:middle;border-radius:2em;}

.nui-label[class*="color"]:before,
.nui-badge[class*="color"]:before{position:absolute;top:0;right:0;bottom:0;left:0;content:'';border:1px solid currentColor;border-radius:inherit;opacity:.5;}

.nui-label.--b-none:before, .nui-badge.--b-none:before{display:none;}

/* 卡片 */
.nui-card, .nui-card-body{display:flex;flex-direction:column;}
.nui-card{position:relative;overflow:hidden;font-size:16px;background-color:var(--atom-dk);border-radius:5px;box-shadow:0 1px 5px #0005;}
.nui-card-body{position:relative;z-index:1;flex:1;justify-content:center;padding:5px 10px;line-height:1.2;}
.nui-card-title, .nui-card-subtitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.nui-card-title{font-size:2.4em;font-weight:bold;}
.nui-card-subtitle{padding:5px 0;font-size:.75em;opacity:.6;}
.nui-card-icon{position:absolute;top:0;right:5%;bottom:0;z-index:-1;display:flex;align-items:center;font-size:3em;color:#d2d5ff0d;}
.nui-card-head, .nui-card-foot{display:flex;align-items:center;justify-content:space-between;padding:3px 5px;font-size:12px;line-height:1.5;background-color:#0002;}
.nui-card-head{border-bottom:.56px solid #0002;}
.nui-card-foot{border-top:.56px solid #0002;}
.nui-card-head ins, .nui-card-foot ins{flex:1;}

/* 弹出确认 */
.nui-confirm,
.nui-confirm-btn,
.nui-confirm-close,
.nui-confirm-icon{display:flex;align-items:center;justify-content:center;}

.nui-confirm-btn,
.nui-confirm-close{line-height:1;cursor:pointer;}
.nui-confirm{position:relative;z-index:1;flex-direction:column;min-width:200px;max-width:400px;min-height:66px;max-height:80px;}
/* transform-origin:center; */
.nui-confirm > *:not(.nui-confirm-body),
.nui-confirm-cobg:before{position:absolute;}
.nui-confirm-cobg{top:-2px;right:-26px;bottom:0;left:-26px;background-color:currentColor;border-radius:12px;opacity:.6;transform:skewX(26deg);}
.nui-confirm-cobg:before{top:10px;right:-4px;bottom:8px;left:-8px;content:'';background-color:inherit;border-radius:8px;opacity:.2;transform:skewX(6deg);}
.nui-confirm-bg{top:0;right:0;bottom:-2px;left:0;background-color:var(--atom-dk);border-radius:10px;box-shadow:-5px 0 0 -2px #0002, 5px 0 0 -2px #0002;opacity:1;transform:skewX(-20deg);}
.nui-confirm-close{top:-5px;right:-15px;z-index:1;width:22px;height:22px;font-size:12px;background:var(--atom-dker);border:3px solid var(--atom-dk);border-radius:50%;}
.nui-confirm-close i{color:var(--atom-lter);transition:color .2s;}
.nui-confirm-close:hover i{color:inherit;}
/* 图标 确认按钮 */
.nui-confirm-icon,
.nui-confirm-btn{z-index:2;width:28px;height:28px;font-size:24px;}
.nui-confirm-icon{top:0;left:-28px;height:60%;}
.nui-confirm-icon i{opacity:.5;}
.nui-confirm-icon .nicon-exclamation-triangle{margin-top:-13px;font-size:20px;}
.nui-confirm-btn{right:-28px;bottom:8%;font-size:20px;cursor:pointer;transition:color .2s;}
.nui-confirm-btn:hover{color:var(--white-dk);}
.nui-confirm-body{position:relative;z-index:1;flex:0 1 auto;max-width:95%;margin:10px 20px;overflow:overlay;font-size:16px;}

/* 弹出消息 */
.nui-msg-item{position:relative;flex:none;min-width:26px;max-width:300px;height:34px;}
.nui-msg-body, .nui-msg-icon, .nui-msg-close{position:relative;display:flex;flex:none;align-items:center;min-width:0;line-height:1;}
.nui-msg-body{z-index:1;height:26px;pointer-events:auto;background-color:#000000db;border-radius:15px;box-shadow:0 2px 5px #0008;}
.nui-msg-icon, .nui-msg-close{justify-content:center;border-radius:50%;}
.nui-msg-close{padding-right:8px;cursor:pointer;opacity:.5;}
.nui-msg-close:hover{opacity:1;}
.nui-msg-icon{width:26px;height:26px;overflow:hidden;}
.nui-msg-icon i{font-size:12px;color:#fff;transition:color .3s linear;}
.nui-msg-info{flex:0 1 auto;min-width:0;padding:0 6px;text-shadow:0 1px 0 #0006;}

.nui-msg-auto,
.nui-msg-body:before,
.nui-msg-icon:before{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;background-color:currentColor;}
.nui-msg-icon:before{z-index:1;content:'';border:3px solid #000;border-radius:50%;opacity:.2;}
.nui-msg-body:before{content:'';border-radius:15px;opacity:.3;}
.nui-msg-auto{z-index:-1;transition:transform .3s linear;}

/* 抛物线cubic-bezier(.7, 0, .3, 1) will-change:top, left animation-delay:-.05s; */
/* .nui-paa.--zoom-out{transition:none;}animation-direction:reverse;animation-fill-mode:forwards; */
.nui-paa{position:fixed;top:0;left:0;min-width:12px;min-height:12px;padding:3px;line-height:0;pointer-events:none;background-color:var(--dm-lter);border-radius:50%;transition:top .5s cubic-bezier(.75, -.3, .85, .3), left .5s linear;transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1);animation:paaZoomIn .15s;}
.nui-paa > i{display:block;width:14px;height:14px;font-size:10px;line-height:14px;color:#fff;text-align:center;}
.nui-paa.--zoom-out{transition:none !important;animation:paaZoomOut .15s forwards;}

/* 弹出模态框 */
.nui-modal,
.nui-modal-head,
.nui-modal-btn i{display:flex;}
.nui-modal{position:relative;z-index:1;flex-direction:column;min-width:220px;max-width:80%;min-height:180px;max-height:70%;padding-top:8px;margin-bottom:10%;color:var(--dm);}

.nui-modal-cobg,
.nui-modal-cobg:before,
.nui-modal-bg,
.nui-modal-btn{position:absolute;}
.nui-modal-cobg{top:10px;right:50%;bottom:-2px;left:-8px;z-index:-2;background-color:currentColor;border-radius:10px;opacity:.7;transform:skewX(4deg);transform-origin:100% 0;}
.nui-modal-cobg:before{top:0;left:100%;width:100%;height:100%;content:'';background-color:inherit;border-radius:inherit;transform:skewX(-8deg);transform-origin:0 0;}
.nui-modal-cobg + .nui-modal-cobg{top:20px;bottom:10px;left:-15px;z-index:-3;opacity:.3;transform:skewX(8deg);}
.nui-modal-cobg + .nui-modal-cobg:before{transform:skewX(-16deg);}
.nui-modal-bg{top:0;left:0;z-index:-1;width:100%;height:100%;background-color:var(--atom-dk);border-radius:10px;}
.nui-modal-btn{position:absolute;top:8px;right:0;z-index:1;width:30px;height:28px;line-height:1;background-color:#0002;border-radius:20px 0 0 20px;}
.nui-modal-btn i{align-items:center;justify-content:center;width:24px;height:24px;margin:2px;font-size:12px;cursor:pointer;border:2px solid var(--atom-dk);border-radius:50%;transition:border-color .3s;}
.nui-modal-btn i:hover{border-color:inherit;}
.nui-modal-head{flex:none;align-items:center;height:28px;padding:0 34px 0 6px;font-size:12px;background-color:#0002;}
.nui-modal-body{flex:1;padding:10px;overflow:overlay;color:var(--gy);}

/* 弹出菜单 */
.nui-pp-menu{position:fixed;z-index:999;display:flex;flex-direction:column;padding:5px 0;font-size:12px;background-color:var(--atom-dker);border:1px solid #2a2d52;border-radius:4px;box-shadow:0 4px 8px #0005;}
.nui-pp-menu-item{display:flex;align-items:center;min-width:0;height:24px;min-height:0;padding:0 6px;line-height:1;color:var(--gy-lt);cursor:pointer;background-color:var(--atom-dk);}
.nui-pp-menu-item + .nui-pp-menu-item{margin-top:1px;}
.nui-pp-menu.--line{flex-direction:row;padding:0;}
.nui-pp-menu.--line > .nui-pp-menu-item:first-child{border-radius:4px 0 0 4px;}
.nui-pp-menu.--line > .nui-pp-menu-item:last-child{border-radius:0 4px 4px 0;}
.nui-pp-menu.--line > .nui-pp-menu-item + .nui-pp-menu-item{margin-top:0;margin-left:1px;}
.nui-pp-menu-item:hover{opacity:.8;}

/* 加载动画 */
.nui-loadam, .nui-loadpro{position:relative;pointer-events:none;}
.nui-loadam{width:120px;height:120px;pointer-events:none;}
.nui-loadam-loop{position:absolute;top:50%;left:50%;width:120px;height:120px;pointer-events:none;transform:translate3d(-50%, -50%, 0);}

.nui-loadam-line,
.nui-loadam-line-inner{stroke-dasharray:285;stroke-dashoffset:285;}
.nui-loadam-loop svg{display:block;transform-origin:50%;}

/* 加载进度 */
.nui-loadpro{position:relative;display:flex;align-items:center;justify-content:center;}
.nui-loadpro svg{display:block;transform:rotate(-90deg);}
/* .nui-loadpro circle{transition:stroke-dashoffset .3s;} */
.nui-loadpro + .nui-loadpro{margin-left:10px;}

.nui-loadpro-num, .nui-loadpro-msg{position:absolute;right:0;left:0;display:flex;align-items:center;justify-content:center;}
.nui-loadpro-num{top:0;bottom:0;flex-direction:column;font-family:sans-serif;font-size:80px;font-weight:100;line-height:1;}
.nui-loadpro-msg{top:100%;padding:10px 0;font-size:12px;color:var(--gy-dker);}

/* 弹出块全局浮动 */
.nui-pop, .nui-tip{z-index:99;padding:6px;color:var(--dm-lt);white-space:nowrap;border-radius:3px;transform:translateX(-50%);}
.nui-pop.--ws, .nui-tip.--ws{white-space:normal;}
.nui-pop{position:fixed;}
.nui-tip{position:absolute;top:100%;left:50%;display:none;min-width:0;}
.nui-pop:before, .nui-tip:before{position:absolute;top:6px;right:6px;bottom:6px;left:6px;z-index:1;pointer-events:none;content:'';border:1px solid currentColor;border-radius:inherit;opacity:.3;}
.nui-pop-body, .nui-tip-body{position:relative;width:100%;height:100%;color:var(--gy);background-color:var(--atom-dks);border-radius:inherit;box-shadow:0 0 5px #0006;}
.nui-pop-arrow, .nui-tip-arrow{position:absolute;top:-6px;left:50%;z-index:-1;width:0;height:0;border:6px solid transparent;border-bottom-color:currentColor;opacity:.7;transform:translateX(-50%);}

/* 内联弹出 */
.nui-tip-block{position:relative;display:inline-block;}
.nui-tip-block:focus-within .nui-tip{display:block;}
.nui-tip.--l{left:-6px;transform:none;}
.nui-tip.--l > .nui-tip-arrow{left:15px;}
.nui-tip.--r{right:-6px;left:auto;transform:none;}
.nui-tip.--r > .nui-tip-arrow{right:3px;left:auto;}
.nui-tip.--t{top:auto;bottom:100%;}

.nui-tip.--t > .nui-tip-arrow,
.nui-pop.--t > .nui-pop-arrow{top:auto;bottom:-6px;border-top-color:var(--dm-dker);border-bottom-color:transparent;}

/* 表单 */
.nui-form-str{position:relative;display:flex;flex:1;align-items:center;max-width:100%;height:2em;padding:0 .5em;font-size:12px;line-height:1;color:var(--gy);}
.nui-form-str > i{z-index:1;width:1.5em;margin-left:-.25em;opacity:.5;}
.nui-form-str > .nui-form-input + i{margin-right:-.25em;margin-left:0;}
.nui-form-input{z-index:1;flex:1;min-width:0;height:100%;transition:color .25s;}
.nui-form-input:focus{color:var(--bl-lt);caret-color:var(--sky);}
.nui-form-input-bg{position:absolute;top:0;right:0;bottom:0;left:0;pointer-events:none;background-color:var(--atom);transition:background-color .25s;}

.nui-form-input-bg:before,
.nui-form-input-bg:after{position:absolute;left:0;display:none;width:0;height:0;content:'';}
.nui-form-input-bg:before{top:0;border:4px solid;border-color:currentColor transparent transparent currentColor;transition:border-color .2s;}
.nui-form-input-bg:after{bottom:0;border:3px solid transparent;}
.nui-form-str.bg-none .nui-form-input-bg{display:none;}

.nui-form-input:focus ~ .nui-form-input-bg{background-color:var(--atom-lt);}
/* 无效 */
.nui-form-input:invalid ~ .nui-form-input-bg:before{display:block;color:var(--red);}
/* .nui-form-input:required ~ .nui-form-input-bg{color:var(--yl);} */
.nui-form-input:required:invalid ~ .nui-form-input-bg:before{border-top-color:var(--yl);border-left-color:var(--red);}

.nui-form-input[readonly] ~ .nui-form-input-bg:after,
.nui-form-input[disabled] ~ .nui-form-input-bg:after{display:block;border-left-color:var(--gy-dker);}
.nui-form-input[readonly] ~ .nui-form-input-bg:after{border-bottom-color:var(--yl-dker);}
.nui-form-input[disabled] ~ .nui-form-input-bg:after{border-bottom-color:var(--gy-dker);}
.nui-form-input::placeholder{color:#727e96;}
.nui-form-verify{position:absolute;bottom:100%;left:0;z-index:1;display:none;padding:3px 3px 2px;margin-bottom:4px;font-size:10px;line-height:1;color:#ff4343;white-space:nowrap;pointer-events:none;background-color:#1d2025c2;border:1px solid #ff00007a;border-radius:3px;}
.nui-form-input:hover ~ .nui-form-verify:not(:empty){display:block;}

/* 输入框扩展 */
/* 搜索类型 后面清除按钮 pointer-events:none;  */
.nui-form-input[type=search]::-webkit-search-cancel-button{flex:none;width:.75em;height:.75em;margin:0;cursor:pointer;background:linear-gradient(45deg, transparent calc(50% - 1px), #505561 0, #505561 calc(50% + 1px), transparent 0), linear-gradient(-45deg, transparent calc(50% - 1px), #505561 0, #505561 calc(50% + 1px), transparent 0);background-repeat:no-repeat;border:.5em solid transparent;appearance:none;}
.nui-form-str .nui-form-input[type=search]{margin-right:-.5em;}
/* 如果有内容则始终保持出现 :-webkit-any(:focus,:hover) */
.nui-form-str.--search .nui-form-input[type="search" i]:enabled:read-write::-webkit-search-cancel-button{pointer-events:auto;opacity:.5;}
.nui-form-str.--search .nui-form-input[type="search" i]:enabled:read-write::-webkit-search-cancel-button:hover{opacity:1;}

/* 取颜色 */
.nui-form-input[type=color]{padding:.3em;}
.nui-form-input[type=color]::-webkit-color-swatch-wrapper{padding:0;}
.nui-form-input[type=color]::-webkit-color-swatch{border:0;border-radius:3px;}
/* .nui-form-input[type=color]:before{content:attr(value);} */

/* 日期 */
.nui-form-input::-webkit-calendar-picker-indicator{width:1.5em;height:1.5em;padding:0;margin-right:-.25em;cursor:pointer;opacity:0;margin-inline-start:5px;}

.nui-form-input[type=date]:after,
.nui-form-input[type=time]:after,
.nui-form-input[type=datetime-local]:after,
.nui-form-input[type=month]:after,
.nui-form-input[type=week]:after{display:block;width:1.5em;margin-right:-.25em;margin-left:-1.2em;font-family:'nicon';text-align:center;pointer-events:none;content:'\e918';opacity:.3;}
/* .nicon-calendar-alt \e918 */
/* .nicon-clock */
.nui-form-input[type=time]:after{content:'\e90d';}
/* .nicon-calendar-day */
.nui-form-input[type=month]:after{content:'\e91a';}
/* nicon-calendar-week */
.nui-form-input[type=week]:after{content:'\e91b';}

/* 数字微调 */
.nui-form-input[type=number]{padding:0;margin-right:-.5em;}
.nui-form-input[type=number]::-webkit-inner-spin-button{height:2em;margin-left:.5em;opacity:.07;}

.nui-form-input[type=number]:read-only::-webkit-inner-spin-button,
.nui-form-input[type=number]:disabled::-webkit-inner-spin-button{display:none;appearance:none;}
.nui-form-input[type=number] ~ i{width:2em;padding-left:.5em;}

/* 数字滑块 */
.nui-form-input[type=range]{height:.75em;padding:0;opacity:1;appearance:none;}
.nui-form-input[type=range]::-webkit-slider-thumb{width:1.25em;height:1.25em;border-radius:50%;appearance:none;}
.nui-form-range-track{position:absolute;top:0;right:.625em;bottom:0;left:.625em;height:.75em;margin:auto;color:var(--dm);pointer-events:none;background:var(--atom);border-radius:.5em;}

/* .nui-form-item-inicon-prefix ~ .nui-form-range-track{margin-left:1.5em;}
.nui-form-item-inicon-suffix ~ .nui-form-range-track{margin-right:1.5em;} */

.nui-form-range-pro{position:relative;display:flex;align-items:center;justify-content:flex-end;width:0;max-width:100%;height:100%;}
.nui-form-range-pro:before{position:absolute;width:100%;height:100%;content:'';background-color:currentColor;border-radius:.5em;opacity:.5;}
.nui-form-range-track.--pro-bg-none .nui-form-range-pro:before{display:none;}
.nui-form-range-track.--pro-op-none .nui-form-range-pro:before{opacity:1;}
.nui-form-range-thumb{position:relative;z-index:2;flex:none;width:1.25em;height:1.25em;margin-right:-.625em;background-color:currentColor;border-radius:50%;box-shadow:inset 0 0 0 .2em #0004;}
.nui-form-range-thumb > span{position:absolute;bottom:100%;left:50%;display:none;padding:2px 3px;margin-bottom:2px;font-size:.857em;line-height:1;background:#0003;border-radius:.25em;transform:translateX(-50%);}

.nui-form-range-err-1{color:var(--atom-lter);}
.nui-form-range-err-2{color:var(--yl-dker);}

.nui-form-input[type=range]:hover ~ .nui-form-range-track .nui-form-range-thumb{border:1px solid currentColor;}
.nui-form-input[type=range]:hover ~ .nui-form-range-track .nui-form-range-thumb > span{display:block;}
.nui-form-input[type=range][readonly] ~ .nui-form-range-track .nui-form-range-thumb{color:var(--gy-dker);}
.nui-form-input[type=range][disabled] ~ .nui-form-range-track{color:var(--gy);}

/* .nui-form-input[type=range]:out-of-range ~ .nui-form-range-track{color:var(--gy);} */

/* 单多选 */
.nui-form-rc{display:flex;flex-wrap:wrap;margin:0 -3px;font-size:12px;color:var(--sky-dker);}
.nui-form-rc label{display:flex;flex:none;align-items:center;min-width:0;max-width:100%;margin:5px 3px;}
.nui-form-rc span{padding:0 5px;color:var(--gy);cursor:pointer;}
.nui-form-rc input{position:relative;z-index:1;width:calc(1em + 2px);height:calc(1em + 2px);cursor:pointer;background:#0001;appearance:none;}

.nui-form-rc input:before,
.nui-form-rc input:after{position:absolute;top:0;right:0;bottom:0;left:0;content:'';transition:opacity .2s;}
.nui-form-rc input:before{border:2px solid;border-radius:inherit;opacity:.6;}
.nui-form-rc input:after{opacity:0;}

.nui-form-rc input:checked:before,
.nui-form-rc input:checked:after{opacity:1;}
.nui-form-rc input:checked ~ span{color:inherit;}
/* 只读 禁用 */
.nui-form-rc input[readonly] ~ span,
.nui-form-rc input[disabled] ~ span{pointer-events:none;}

.nui-form-rc input[disabled]:after,
.nui-form-rc input[disabled]:before,
.nui-form-rc input[readonly]:before{color:var(--gy) !important;}
/* 单选 */
.nui-form-rc input[type=radio]{border-radius:1em;}
.nui-form-rc input[type=radio]:after{width:70%;height:4px;margin:auto;margin-right:0;background-color:currentColor;border-radius:.5em;}
.nui-form-rc input[type=radio]:checked:before{border-right-color:transparent;}
/* 多选 */
.nui-form-rc input[type=checkbox]{border-radius:.3em;}
.nui-form-rc input[type=checkbox]:after{width:0;height:0;margin:auto 3px 3px auto;border:4px solid;border-top-color:transparent;border-left-color:transparent;}
.nui-form-rc.--switch input{width:2em;height:calc(1em + 3px);overflow:hidden;}
.nui-form-rc.--switch input[type]:before{border-color:currentColor !important;opacity:.5;}
.nui-form-rc.--switch input[type]:after{width:30%;height:calc(.5em - 1px);margin:auto 4px;background-color:currentColor;border:0;border-radius:inherit;opacity:.7;}
.nui-form-rc.--switch input[type=checkbox]:after{border-radius:1px;}
.nui-form-rc.--switch input[type]:checked:before{background-color:currentColor;opacity:.3;}
.nui-form-rc.--switch input[type]:checked:after{margin-left:auto;opacity:1;}

/* 下拉菜单 */
.nui-form-st{position:relative;color:var(--dm-lt);cursor:pointer;}

.nui-form-st.--disabled,
.nui-form-st > input{pointer-events:none;}

.nui-form-st > input{position:absolute;width:0;height:0;overflow:hidden;opacity:0;}

.nui-form-st > div.nui-form-input{display:flex;align-items:center;color:var(--gy);}
.nui-form-st > .nui-form-input + i{color:var(--gy);transition:opacity .3s;}

.nui-form-st-popup{position:absolute;top:100%;right:0;z-index:99;display:none;max-width:100%;margin-top:2px;}
.nui-form-st-list{position:relative;flex:none;padding:5px 0;background-color:var(--atom-dker);border-radius:3px;box-shadow:0 3px 6px #0005;}
.nui-form-st-list label{display:flex;align-items:center;}
.nui-form-st-list label + label{margin-top:1px;}
.nui-form-st-list input{position:relative;z-index:1;width:10px;height:10px;margin:0 5px;cursor:pointer;border:1px solid;opacity:.5;appearance:none;}
.nui-form-st-list span{flex:1;width:100%;min-width:0;padding:5px 10px 5px 20px;margin-left:-20px;color:var(--gy);white-space:nowrap;cursor:pointer;background-color:var(--atom-dk);}
.nui-form-st-list input:before{position:absolute;top:0;right:0;bottom:0;left:0;margin:2px;content:'';background-color:currentColor;border-radius:inherit;opacity:0;}
.nui-form-st-list input[type=radio]{border-radius:50%;}
.nui-form-st-list input:checked{opacity:1;}
.nui-form-st-list input:checked:before{opacity:1;}
.nui-form-st-list input:checked + span{color:inherit;background-color:var(--atom);}

.nui-form-st-list input[disabled],
.nui-form-st-list input[readonly],
.nui-form-st-list input[disabled] + span,
.nui-form-st-list input[readonly] + span{color:var(--gy-dker);pointer-events:none;opacity:.5;}
.nui-form-st:focus-within > .nui-form-input-bg{background-color:var(--atom-lt);}
.nui-form-st:focus-within > .nui-form-input{color:inherit;}
.nui-form-st:focus-within > .nui-form-input + i{color:inherit;opacity:1;}
.nui-form-st:hover > .nui-form-verify:not(:empty){display:block;}
.nui-form-st:focus-within > .nui-form-st-popup{display:flex;}

/* 上弹出 */
.nui-form-st.--up .nui-form-st-popup{top:auto;bottom:100%;margin-bottom:2px;}
.nui-form-st.--up .nui-form-st-list{box-shadow:0 -3px 6px #0005;}

/* 表单项 */
.nui-form-item{display:flex;flex:1;min-width:0;font-size:12px;background-color:var(--atom);}
.nui-form-item-before, .nui-form-item-after{display:flex;flex:none;align-items:center;min-width:0;padding:0 5px;}
.nui-form-item-content{flex:1;min-width:0;}
.nui-form-item-content > *{font-size:inherit;}
.nui-form-item-before{border-right:1px solid #0003;}
.nui-form-item-after{border-left:1px solid #0003;}
.nui-form-item-before > *, .nui-form-item-after > *{flex:1;min-width:0;margin:0 -5px;border-radius:0;}

/* 表单 */
.nui-form{font-size:12px;background-color:var(--atom-dk);}
.nui-form-body{padding:10px;}
.nui-form-body > .nui-form-str + .nui-form-str{margin-top:.5em;}

.nui-form-label{display:flex;align-items:center;max-width:100%;margin:.25em 0;font-size:12px;color:var(--gy-dker);}
.nui-form-label ins{flex:1;}

.nui-form-submit{display:flex;align-items:center;justify-content:space-evenly;padding:10px;font-weight:500;line-height:1;background:#0001;border-radius:inherit;}
.nui-form-submit > *{flex:none;}
.nui-form-submit > * + *{margin-left:1em;}

.nui-form .nui-col-line, .nui-form-submit{border-top:.56px solid #0002;}
.nui-form .nui-col-line{flex:0 0 100%;padding:0;margin:5px 0 5px;}
.nui-modal-body > .nui-form{margin:-10px;border-radius:0 0 10px 10px;}

/* 面板 */
.nui-panel{display:flex;flex-direction:column;font-size:12px;}
.nui-panel-head, .nui-panel-foot{display:flex;flex:none;align-items:center;justify-content:space-between;min-height:27px;padding:5px 7px;line-height:1;background:var(--atom-dk);}
.nui-panel-head{position:relative;padding:5px 6px;border-bottom:.56px solid #0002;}
.nui-panel-foot{border-top:.56px solid #0002;}
.nui-panel-head .nui-btn, .nui-panel-foot .nui-btn{margin:-5px 0;}
.nui-panel-head > :first-child.nui-btn{margin-left:-4px;}
.nui-panel-head > :last-child.nui-btn{margin-right:-4px;}

.nui-panel-head .nui-btn:before,
.nui-panel-foot .nui-btn:before{display:none;}
.nui-panel-body{flex:1;padding:8px;overflow:overlay;background:var(--atom-dks);}

/* 拖拽 */
.nui-drag-line{position:relative;z-index:1;display:flex;flex:none;align-items:center;justify-content:center;min-width:1px !important;min-height:1px !important;background:#0003;}
.nui-drag-line:after{position:absolute;width:100%;min-width:9px;height:100%;min-height:9px;content:'';}


/* 表格 background-color:var(--atom-dks); border:.56px solid #ffffff06; */
.nui-table{position:relative;display:flex;flex-direction:column;max-width:100%;max-height:100%;}
.nui-table table{width:100%;height:100%;table-layout:fixed;border-spacing:2px;border-collapse:separate;border:0;}

.nui-table td,
.nui-table th{position:relative;padding:4px 8px;border:0;}
/* .nui-table td{overflow:hidden;} */
.nui-table td > i{vertical-align:middle;}

.nui-table-head,
.nui-table-foot{flex:none;min-height:0;}

/* 字段标题 */
.nui-table-head{overflow:hidden;color:var(--gy-dker);}
.nui-table-head table{height:36px;}
.nui-table-head th{background-color:var(--atom-dk);border-radius:6px 6px 0 0;}
/* 排序 */
.nui-table-sort{position:absolute;top:0;right:0;bottom:0;left:0;display:flex;flex-direction:column;align-items:flex-end;justify-content:center;padding:4px;color:var(--atom-lt);cursor:pointer;}
.nui-table-sort i{display:block;font-size:12px;line-height:.6;}

.nui-table-sort.--asc .nicon-caret-up,
.nui-table-sort.--desc .nicon-caret-down{color:var(--og);}

/* 字段内容 */
.nui-table-body{flex:1;min-width:0;overflow:hidden;overflow-y:overlay;}
.nui-table-body::-webkit-scrollbar{width:3px;}
.nui-table-body td{background-color:var(--atom-dks);}
/* 条纹背景 */
.nui-table-body tr:nth-child(even) td{background:var(--atom-dk);}
.nui-table-body tr:hover{box-shadow:0 0 0 1px #607c412b;}
.nui-table-body td .nui-label{font-size:9px;}
/* 字段外加脚 */
.nui-table-foot{margin:2px;border-radius:0 0 6px 6px;}
.nui-table-foot:empty{padding:8px;background:var(--atom-dk);}

/* 分页组件 */
.nui-paging{display:flex;justify-content:space-between;color:var(--bl);background:var(--atom-dk);border-radius:inherit;}
.nui-paging > div{display:flex;align-items:center;justify-content:center;}

.nui-paging-total,
.nui-paging-select{flex:none;min-width:80px;padding:0 10px;color:var(--gy-dker);background:var(--atom-dks);}
.nui-paging-total{border-right:.56px solid #0001;border-bottom-left-radius:inherit;}
.nui-paging-select{border-left:.56px solid #0001;border-bottom-right-radius:inherit;}
.nui-paging-select .nui-form-str{justify-content:center;}
.nui-paging-select .nui-form-str .nui-form-input{flex:none;font-weight:bolder;color:var(--atom-lter);}
.nui-paging-item{padding:6px;}
.nui-paging-item > div{display:flex;align-items:center;justify-content:center;min-width:80px;padding:0 5px;font-weight:bolder;}
.nui-paging-item > div > span{padding:0 3px;color:var(--gy-dk);}

