/* 基础样式 */
/* 滚动容器 overscroll-behavior:contain; */
.nui-container,
.nui-container-in{position:relative;min-width:0;max-width:100%;min-height:0;max-height:100%;overflow:overlay;}
.nui-container{flex:1;width:100%;height:100%;}
.nui-container.--p{padding:15px 15px 30px 15px;}

/* 弹性 纵向 Vertical、横向 Horizontal */
.nui-flex{display:flex;min-width:0;max-width:100%;}
.nui-flex > *{min-width:0;max-width:100%;}
.nui-flex.--h, .nui-flex-c.--h{flex-direction:row;}
.nui-flex.--v, .nui-flex-c.--v{flex-direction:column;}

.nui-flex.--cc, .nui-flex.--hc{justify-content:center;}
.nui-flex.--cc, .nui-flex.--vc{align-items:center;}
.nui-flex.--hb{justify-content:space-between;}

.nui-flex-auto{flex:1 !important;}
.nui-flex-none{flex:none !important;}

/* 一行 */
.nui-flex-line{display:flex;align-items:center;justify-content:space-between;width:200px;max-width:100%;}
.nui-flex-line ins{flex:1;}

/* 栅格布局 */
.nui-row-grid{display:grid;overflow:auto;}
.nui-row-grid.--min-80{grid-template-columns:repeat(auto-fill, minmax(80px, 1fr));}
.nui-row-grid.--min-90{grid-template-columns:repeat(auto-fill, minmax(90px, 1fr));}
.nui-row-grid.--sp-10{grid-gap:10px;padding:10px;}
/* .nui-row-grid  */
/* .nui-row-grid.--auto-2{grid-template-columns:auto 1fr;} */
/* .nui-row-grid.--sp-2{padding:2px;grid-gap:2px;} */
/* 属性表 两列 */
.nui-row-grid.--attr > *{padding:3px 8px;word-break:break-all;border-top:.5px solid #0003;}
.nui-row-grid.--attr > :nth-child(odd){color:var(--gy-dker);}
.nui-row-grid.--attr:not(.--line) > :nth-child(even){padding-left:0;}
.nui-row-grid.--attr.--line > :nth-child(even){border-left:.5px solid #0003;}
.nui-row-grid.--attr > :first-child, .nui-row-grid.--attr > *:nth-child(2){border-top:0;}
.nui-row-grid.--attr.--c > :nth-child(odd){text-align:center;}
.nui-row-grid.--attr.--r > :nth-child(even){text-align:right;}
.nui-row{display:flex;flex-wrap:wrap;margin-right:-5px;margin-left:-5px;}
.nui-row.--h{flex-direction:column;flex-wrap:nowrap;}
.nui-row > *{min-width:0;max-width:100%;min-height:0;max-height:100%;padding:5px;}
.nui-row.--sp-10{margin-right:-10px;margin-left:-10px;}
.nui-row.--sp-10 > *{padding:10px;}
.nui-row.--sp-none{margin-right:0;margin-left:0;}
.nui-row.--sp-none > *{padding:0;}

.nui-col{flex-basis:0;flex-grow:1;}
.nui-col-none{flex:none;}
.nui-col-1{flex:0 0 8.333333%;max-width:8.333333%;}
.nui-col-2{flex:0 0 16.666667%;max-width:16.666667%;}
.nui-col-3{flex:0 0 25%;max-width:25%;}
.nui-col-4{flex:0 0 33.333333%;max-width:33.333333%;}
.nui-col-5{flex:0 0 41.666667%;max-width:41.666667%;}
.nui-col-6{flex:0 0 50%;max-width:50%;}
.nui-col-7{flex:0 0 58.333333%;max-width:58.333333%;}
.nui-col-8{flex:0 0 66.666667%;max-width:66.666667%;}
.nui-col-9{flex:0 0 75%;max-width:75%;}
.nui-col-10{flex:0 0 83.333333%;max-width:83.333333%;}
.nui-col-11{flex:0 0 91.666667%;max-width:91.666667%;}
.nui-col-12{flex:0 0 100%;max-width:100%;}

.op-7{opacity:.7;}
.op-5{opacity:.5;}
.op-3{opacity:.3;}
.op-1{opacity:.1;}

/* 内间距 */
.p-15{padding:15px;}
.p-10{padding:10px;}
.p-5{padding:5px;}
.p-25em{padding:.25em;}
.p-none{padding:0 !important;}

.p-lr-15, .p-l-15{padding-left:15px;}
.p-lr-15, .p-r-15{padding-right:15px;}
.p-lr-10, .p-l-10{padding-left:10px;}
.p-lr-10, .p-r-10{padding-right:10px;}
.p-lr-5, .p-l-5{padding-left:5px;}
.p-lr-5, .p-r-5{padding-right:5px;}
.p-lr-25em, .p-l-25em{padding-left:.25em;}
.p-lr-25em, .p-r-25em{padding-right:.25em;}

.p-tb-15, .p-t-15{padding-top:15px;}
.p-tb-15, .p-b-15{padding-bottom:15px;}
.p-tb-10, .p-t-10{padding-top:10px;}
.p-tb-10, .p-b-10{padding-bottom:10px;}
.p-tb-5, .p-t-5{padding-top:5px;}
.p-tb-5, .p-b-5{padding-bottom:5px;}
.p-tb-25em, .p-t-25em{padding-top:.25em;}
.p-tb-25em, .p-b-25em{padding-bottom:.25em;}

.m-15{margin:15px;}
.m-10{margin:10px;}
.m-5{margin:5px;}
.m-25em{margin:.25em;}
.m-none{margin:0 !important;}

.m-lr-15, .m-l-15{margin-left:15px;}
.m-lr-15, .m-r-15{margin-right:15px;}
.m-lr-10, .m-l-10{margin-left:10px;}
.m-lr-10, .m-r-10{margin-right:10px;}
.m-lr-5, .m-l-5{margin-left:5px;}
.m-lr-5, .m-r-5{margin-right:5px;}
.m-lr-25em, .m-l-25em{margin-left:.25em;}
.m-lr-25em, .m-r-25em{margin-right:.25em;}

.m-tb-15, .m-t-15{margin-top:15px;}
.m-tb-15, .m-b-15{margin-bottom:15px;}
.m-tb-10, .m-t-10{margin-top:10px;}
.m-tb-10, .m-b-10{margin-bottom:10px;}
.m-tb-5, .m-t-5{margin-top:5px;}
.m-tb-5, .m-b-5{margin-bottom:5px;}
.m-tb-25em, .m-t-25em{margin-top:.25em;}
.m-tb-25em, .m-b-25em{margin-bottom:.25em;}

.m-in-10{margin:-5px;}
.m-in-10 > *{margin:5px;}
.m-in-8{margin:-4px;}
.m-in-8 > *{margin:4px;}
.m-in-6{margin:-3px;}
.m-in-6 > *{margin:3px;}
.m-in-25em{margin:-.25em;}
.m-in-25em > *{margin:.25em;}

.m-in-l-25em > * + *{margin-left:.25em;}
.m-in-l-50em > * + *{margin-left:.5em;}

/* 四个方向线 */
.b-t{border-top:.56px solid #0002;}
.b-r{border-right:.56px solid #0002;}
.b-b{border-bottom:.56px solid #0002;}
.b-l{border-left:.56px solid #0002;}
.b-none{border:0 !important;}

h1, h2, h3, h4, h5, h6{font-weight:500;}
h1, h2, h3{margin-top:.75em;margin-bottom:.5em;}
h4, h5, h6{margin-top:.5em;margin-bottom:.25em;}

.h1, h1{font-size:2.4rem;}
.h2, h2{font-size:2rem;}
.h3, h3{font-size:1.8rem;}
.h4, h4{font-size:1.6rem;}
.h5, h5{font-size:1.4rem;}
.h6, h6{font-size:1.2rem;}
.h7{font-size:1rem;}

/* 超出隐藏 */
ins, .-eps{flex-shrink:1;min-width:0;max-width:100%;overflow:hidden;line-height:inherit;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;}
ins{display:inline-block;vertical-align:middle;}

/* 图标类 */
i{flex:none;font-style:normal;}
i + ins, i + .-eps{margin-left:.35em;}

.tt-c{text-align:center;}
.tt-r{text-align:right;}
.tt-bd{font-weight:bold;}
/* 首字母大写 */
.tt-cab{text-transform:capitalize;}
/* 全大写 */
.tt-cb{text-transform:uppercase;}
/* 全小写 */
.tt-cs{text-transform:lowercase;}
/* 文字可选中 caret-color: red; */
.tt-copy{pointer-events:auto;cursor:copy;user-select:all;}
.tt-copy::selection, .tt-copy *::selection{color:inherit;background-color:inherit;}
.tt-copy:active::selection, .tt-copy:active *::selection{color:var(--white-dk);background-color:var(--sky-o5);}

.tt-h-15{line-height:1.5em;}
.tt-h-2{line-height:2em;}
.tt-h-1{line-height:1em;}
.tt-h-it{line-height:inherit !important;}
.-edit, .tt-udd{text-decoration:underline dotted;}

/* 全局常用 */
.-link, .-edit{cursor:pointer;}
.-link > *{pointer-events:none;}

.-float{position:absolute !important;top:0;left:0;}
.-float.--z1{z-index:1;}
.-float.--z9{z-index:9;}
.-float.--r{right:0;left:auto;}
.-float.--b{top:auto;bottom:0;}
.-float.--w{right:0 !important;}
.-float.--h{bottom:0 !important;}
.-posre{position:relative !important;}

.-none{display:none !important;}

.-none-eve,
.-none-eve *{pointer-events:none !important;}

.-none-sdw{box-shadow:none !important;}

.-full{width:100% !important;height:100% !important;}
.-hidden{overflow:hidden !important;}
.-overlay{overflow:overlay !important;}
