/* 配色 */
/* 深蓝灰 */
.bg-atom.--lter{background-color:var(--atom-lter);}
.bg-atom.--lt{background-color:var(--atom-lt);}
.bg-atom{color:var(--gy-lt);background-color:var(--atom);}
.bg-atom.--dk{background-color:var(--atom-dk);}
.bg-atom.--dks{background-color:var(--atom-dks);}
.bg-atom.--dker{background-color:var(--atom-dker);}
.bg-atom.--op{background-color:var(--atom-o);}

/* 浅蓝灰 */
.bg-gy.--lter{background-color:var(--gy-lter);}
.bg-gy.--lt{background-color:var(--gy-lt);}
.bg-gy{color:var(--white-dk);background-color:var(--gy);}
.bg-gy.--dk{background-color:var(--gy-dk);}
.bg-gy.--dker{background-color:var(--gy-dker);}
.bg-gy.--op{background-color:var(--gy-o);}

/* 紫 */
.bg-dm.--lter{background-color:var(--dm-lter);}
.bg-dm.--lt{background-color:var(--dm-lt);}
.bg-dm{background-color:var(--dm);}
.bg-dm.--dk{background-color:var(--dm-dk);}
.bg-dm.--dker{background-color:var(--dm-dker);}
.bg-dm.--op{background-color:var(--dm-o);}

/* 绿 */
.bg-gn.--lter{background-color:var(--gn-lter);}
.bg-gn.--lt{background-color:var(--gn-lt);}
.bg-gn{background-color:var(--gn);}
.bg-gn.--dk{background-color:var(--gn-dk);}
.bg-gn.--dker{background-color:var(--gn-dker);}
.bg-gn.--op{background-color:var(--gn-o);}

/* 淡蓝 */
.bg-sky.--lter{background-color:var(--sky-lter);}
.bg-sky.--lt{background-color:var(--sky-lt);}
.bg-sky{background-color:var(--sky);}
.bg-sky.--dk{background-color:var(--sky-dk);}
.bg-sky.--dker{background-color:var(--sky-dker);}
.bg-sky.--op{background-color:var(--sky-o);}

/* 蓝 */
.bg-bl.--lter{background-color:var(--bl-lter);}
.bg-bl.--lt{background-color:var(--bl-lt);}
.bg-bl{background-color:var(--bl);}
.bg-bl.--dk{background-color:var(--bl-dk);}
.bg-bl.--dker{background-color:var(--bl-dker);}
.bg-bl.--op{background-color:var(--bl-o);}

/* 黄 */
.bg-yl.--lter{background-color:var(--yl-lter);}
.bg-yl.--lt{background-color:var(--yl-lt);}
.bg-yl{background-color:var(--yl);}
.bg-yl.--dk{background-color:var(--yl-dk);}
.bg-yl.--dker{background-color:var(--yl-dker);}
.bg-yl.--op{background-color:var(--yl-o);}

/* 橙色 */
.bg-og.--lter{background-color:var(--og-lter);}
.bg-og.--lt{background-color:var(--og-lt);}
.bg-og{background-color:var(--og);}
.bg-og.--dk{background-color:var(--og-dk);}
.bg-og.--dker{background-color:var(--og-dker);}
.bg-og.--op{background-color:var(--og-o);}

/* 红 */
.bg-red.--lter{background-color:var(--red-lter);}
.bg-red.--lt{background-color:var(--red-lt);}
.bg-red{background-color:var(--red);}
.bg-red.--dk{background-color:var(--red-dk);}
.bg-red.--dker{background-color:var(--red-dker);}
.bg-red.--op{background-color:var(--red-o);}

/* 文字色 */
.bg-dm, .bg-gn, .bg-sky, .bg-bl, .bg-yl, .bg-og, .bg-red{color:var(--white);}

/* 其它 */
.bg-wt{background-color:var(--white);}
.bg-wt.--op{background-color:var(--white-o);}
.bg-bk{background-color:var(--black);}
.bg-bk.--op{background-color:var(--black-o);}
.bg-it{background-color:inherit;}
.bg-none{background-color:transparent !important;}

.bg-grid{position:relative;}
.bg-grid:before{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;content:'';background-color:#0003 !important;background-image:linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 26%, transparent 26%, transparent 74%, #fff 74%, #fff);background-position:0 0, 5px 5px;background-size:10px 10px;opacity:.1;}

/* 彩色投影 */
.bg-atom.--sdw{box-shadow:0 5px 20px -5px #070708;}
.bg-gy.--sdw{box-shadow:0 5px 20px -5px #65759096;}
.bg-dm.--sdw{box-shadow:0 5px 20px -5px #8260ffd4;}
.bg-gn.--sdw{box-shadow:0 5px 20px -5px #85ff0085;}
.bg-sky.--sdw{box-shadow:0 5px 20px -5px #00eaaf8c;}
.bg-bl.--sdw{box-shadow:0 5px 20px -5px #0d69dad6;}
.bg-yl.--sdw{box-shadow:0 5px 20px -5px #ffc800a8;}
.bg-red.--sdw{box-shadow:0 5px 20px -5px #ff1d1dd9;}
.bg-og.--sdw{box-shadow:0 5px 20px -5px #ff5800db;}

/* .sdw.active,.sdw:active{box-shadow:none !important} */
/* 文字颜色 */
.color-atom, .color-atom.--hover:hover{color:var(--atom-lter);}
.color-atom.--cdk{color:var(--atom);}

.color-gy, .color-gy.--hover:hover{color:var(--gy);}
.color-gy.--cdk{color:var(--gy-dker);}

.color-dm, .color-dm.--hover:hover{color:var(--dm-lter);}
.color-dm.--cdk{color:var(--dm);}

.color-gn, .color-gn.--hover:hover{color:var(--gn);}
.color-gn.--cdk{color:var(--gn-dker);}

.color-sky, .color-sky.--hover:hover{color:var(--sky);}
.color-sky.--cdk{color:var(--sky-dker);}

.color-bl, .color-bl.--hover:hover{color:var(--bl);}
.color-bl.--cdk{color:var(--bl-dker);}

.color-yl, .color-yl.--hover:hover{color:var(--yl);}
.color-yl.--cdk{color:var(--yl-dker);}

.color-og, .color-og.--hover:hover{color:var(--og);}
.color-og.--cdk{color:var(--og-dker);}

.color-red, .color-red.--hover:hover{color:var(--red);}
.color-red.--cdk{color:var(--red-dker);}

.color-wt{color:var(--white);}
.color-bk{color:var(--black);}
.color-wt.--op{color:var(--white-o);}
.color-bk.--op{color:var(--black-o);}
.color-it{color:inherit;}
.color-none{color:transparent;}

[class^="color-"].--hover,
[class*=" color-"].--hover{transition:color .25s;}

[class^="color-"].--hover:not(:hover),
[class*=" color-"].--hover:not(:hover),
[class^="color-"].--focus:not(:focus),
[class*=" color-"].--focus:not(:focus){color:inherit;}

.color-grid{color:transparent;background-image:linear-gradient(135deg, #ff3434, #2050ff);background-clip:text;}
/* .color-grid{mask:linear-gradient(to left, red, transparent);} */
