@font-face{font-family:'nicon';font-style:normal;font-weight:normal;src:url('../icon.woff') format('woff');font-display:block;}

[class^="nicon-"], [class*=" nicon-"]{display:inline-block;font-family:'nicon' !important;font-style:normal;font-weight:normal;font-variant:normal;line-height:1;text-align:center;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}

.nicon-logo:before{content:"\e900";}
.nicon-chrome-minimize:before{content:"\e901";}
.nicon-chrome-close:before{content:"\e902";}
.nicon-chrome-maximize:before{content:"\e903";}
.nicon-chrome-restore:before{content:"\e904";}
.nicon-refresh:before{content:"\e905";}
.nicon-close:before{content:"\e906";}
.nicon-plus:before{content:"\e907";}
.nicon-minus:before{content:"\e908";}
.nicon-check:before{content:"\e909";}
.nicon-times:before{content:"\e90a";}
.nicon-cog:before{content:"\e90b";}
.nicon-tools:before{content:"\e90c";}
.nicon-clock:before{content:"\e90d";}
.nicon-check-circle:before{content:"\e90e";}
.nicon-question-circle:before{content:"\e90f";}
.nicon-info-circle:before{content:"\e910";}
.nicon-exclamation-circle:before{content:"\e911";}
.nicon-exclamation-triangle:before{content:"\e912";}
.nicon-ban:before{content:"\e913";}
.nicon-shield-check:before{content:"\e914";}
.nicon-question:before{content:"\e915";}
.nicon-info:before{content:"\e916";}
.nicon-exclamation:before{content:"\e917";}
.nicon-calendar-alt:before{content:"\e918";}
.nicon-calendar-star:before{content:"\e919";}
.nicon-calendar-day:before{content:"\e91a";}
.nicon-calendar-week:before{content:"\e91b";}
.nicon-chevron-left:before{content:"\e91c";}
.nicon-chevron-right:before{content:"\e91d";}
.nicon-chevron-up:before{content:"\e91e";}
.nicon-chevron-down:before{content:"\e91f";}
.nicon-caret-up:before{content:"\e920";}
.nicon-caret-down:before{content:"\e921";}
.nicon-caret-left:before{content:"\e922";}
.nicon-caret-right:before{content:"\e923";}
.nicon-angle-up:before{content:"\e924";}
.nicon-angle-down:before{content:"\e925";}
.nicon-angle-left:before{content:"\e926";}
.nicon-angle-right:before{content:"\e927";}
