@font-face{font-family:'nuiicon';font-weight:normal;font-style:normal;src:url('../icon.ttf?inykx7') format('truetype');font-display:block;}

[class^="nui-icon-"], [class*=" nui-icon-"]{font-family:'nuiicon' !important;font-weight:normal;font-style:normal;font-variant:normal;line-height:1;display:inline-block;text-align:center;vertical-align:middle;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}

.nui-icon-ng-logo:before{content:"\e900";}
.nui-icon-files:before{content:"\e901";}
.nui-icon-link-external:before{content:"\e902";}
.nui-icon-close:before{content:"\e903";}
.nui-icon-chrome-close:before{content:"\e904";}
.nui-icon-chrome-maximize:before{content:"\e905";}
.nui-icon-chrome-minimize:before{content:"\e906";}
.nui-icon-chrome-restore:before{content:"\e907";}
.nui-icon-circle-slash:before{content:"\e908";}
.nui-icon-debug-start:before{content:"\e909";}
.nui-icon-cog:before{content:"\e90a";}
.nui-icon-cogs:before{content:"\e90b";}
.nui-icon-tools:before{content:"\e90c";}
.nui-icon-search:before{content:"\e90d";}
.nui-icon-minus:before{content:"\e90e";}
.nui-icon-plus:before{content:"\e90f";}
.nui-icon-pen:before{content:"\e910";}
.nui-icon-trash:before{content:"\e911";}
.nui-icon-trash-undo-alt:before{content:"\e912";}
.nui-icon-check:before{content:"\e913";}
.nui-icon-times:before{content:"\e914";}
.nui-icon-ban:before{content:"\e915";}
.nui-icon-times-circle:before{content:"\e916";}
.nui-icon-check-circle:before{content:"\e917";}
.nui-icon-shield-check:before{content:"\e918";}
.nui-icon-question-circle:before{content:"\e919";}
.nui-icon-info-circle:before{content:"\e91a";}
.nui-icon-exclamation-circle:before{content:"\e91b";}
.nui-icon-exclamation-triangle:before{content:"\e91c";}
.nui-icon-question:before{content:"\e91d";}
.nui-icon-info:before{content:"\e91e";}
.nui-icon-exclamation:before{content:"\e91f";}
.nui-icon-check-double:before{content:"\e920";}
.nui-icon-chevron-circle-left:before{content:"\e921";}
.nui-icon-chevron-circle-right:before{content:"\e922";}
.nui-icon-chevron-circle-up:before{content:"\e923";}
.nui-icon-chevron-circle-down:before{content:"\e924";}
.nui-icon-arrow-alt-up:before{content:"\e925";}
.nui-icon-arrow-alt-right:before{content:"\e926";}
.nui-icon-arrow-alt-left:before{content:"\e927";}
.nui-icon-arrow-alt-down:before{content:"\e928";}
.nui-icon-chevron-left:before{content:"\e929";}
.nui-icon-chevron-right:before{content:"\e92a";}
.nui-icon-chevron-down:before{content:"\e92b";}
.nui-icon-chevron-up:before{content:"\e92c";}
.nui-icon-angle-left:before{content:"\e92d";}
.nui-icon-angle-right:before{content:"\e92e";}
.nui-icon-angle-down:before{content:"\e92f";}
.nui-icon-angle-up:before{content:"\e930";}
.nui-icon-caret-left:before{content:"\e931";}
.nui-icon-caret-right:before{content:"\e932";}
.nui-icon-caret-down:before{content:"\e933";}
.nui-icon-caret-up:before{content:"\e934";}
.nui-icon-sort:before{content:"\e935";}
.nui-icon-sort-down:before{content:"\e936";}
.nui-icon-sort-up:before{content:"\e937";}
.nui-icon-expand-alt:before{content:"\e938";}
.nui-icon-compress-alt:before{content:"\e939";}
.nui-icon-sign-in-alt:before{content:"\e93a";}
.nui-icon-sign-out-alt:before{content:"\e93b";}
.nui-icon-undo-alt:before{content:"\e93c";}
.nui-icon-redo-alt:before{content:"\e93d";}
.nui-icon-sync-alt:before{content:"\e93e";}
.nui-icon-history:before{content:"\e93f";}
.nui-icon-retweet-alt:before{content:"\e940";}
.nui-icon-external-link:before{content:"\e941";}
.nui-icon-expand:before{content:"\e942";}
.nui-icon-compress:before{content:"\e943";}
.nui-icon-folder:before{content:"\e944";}
.nui-icon-folder-open:before{content:"\e945";}
.nui-icon-folder-tree:before{content:"\e946";}
.nui-icon-folder-plus:before{content:"\e947";}
.nui-icon-folder-minus:before{content:"\e948";}
.nui-icon-folder-times:before{content:"\e949";}
.nui-icon-stream:before{content:"\e94a";}
.nui-icon-sitemap:before{content:"\e94b";}
.nui-icon-cubes:before{content:"\e94c";}
.nui-icon-cube:before{content:"\e94d";}
.nui-icon-table:before{content:"\e94e";}
.nui-icon-tasks:before{content:"\e94f";}
.nui-icon-line-columns:before{content:"\e950";}
.nui-icon-grip-vertical:before{content:"\e951";}
.nui-icon-grip-horizontal:before{content:"\e952";}
.nui-icon-ellipsis-h:before{content:"\e953";}
.nui-icon-ellipsis-v:before{content:"\e954";}
.nui-icon-layer-group:before{content:"\e955";}
.nui-icon-layer-minus:before{content:"\e956";}
.nui-icon-layer-plus:before{content:"\e957";}
.nui-icon-th-large:before{content:"\e958";}
.nui-icon-th:before{content:"\e959";}
.nui-icon-th-list:before{content:"\e95a";}
.nui-icon-filter:before{content:"\e95b";}
.nui-icon-sort-amount-up:before{content:"\e95c";}
.nui-icon-sort-amount-down:before{content:"\e95d";}
.nui-icon-eye:before{content:"\e95e";}
.nui-icon-eye-slash:before{content:"\e95f";}
.nui-icon-toggle-off:before{content:"\e960";}
.nui-icon-toggle-on:before{content:"\e961";}
.nui-icon-cut:before{content:"\e962";}
.nui-icon-key:before{content:"\e963";}
.nui-icon-lock:before{content:"\e964";}
.nui-icon-unlock:before{content:"\e965";}
.nui-icon-lock-open:before{content:"\e966";}
.nui-icon-file-search:before{content:"\e967";}
.nui-icon-copy:before{content:"\e968";}
.nui-icon-file-alt:before{content:"\e969";}
.nui-icon-file:before{content:"\e96a";}
.nui-icon-images:before{content:"\e96b";}
.nui-icon-image:before{content:"\e96c";}
.nui-icon-unlink:before{content:"\e96d";}
.nui-icon-link:before{content:"\e96e";}
.nui-icon-paperclip:before{content:"\e96f";}
.nui-icon-calendar-alt:before{content:"\e970";}
.nui-icon-calendar-day:before{content:"\e971";}
.nui-icon-calendar-week:before{content:"\e972";}
.nui-icon-clock:before{content:"\e973";}
.nui-icon-tag:before{content:"\e974";}
.nui-icon-tags:before{content:"\e975";}
.nui-icon-cloud:before{content:"\e976";}
.nui-icon-cloud-upload-alt:before{content:"\e977";}
.nui-icon-cloud-download-alt:before{content:"\e978";}
.nui-icon-code-merge:before{content:"\e979";}
.nui-icon-code-branch:before{content:"\e97a";}
.nui-icon-code-commit:before{content:"\e97b";}
.nui-icon-code:before{content:"\e97c";}
.nui-icon-terminal:before{content:"\e97d";}
.nui-icon-coins:before{content:"\e97e";}
.nui-icon-database:before{content:"\e97f";}
.nui-icon-palette:before{content:"\e980";}
.nui-icon-tint:before{content:"\e981";}
.nui-icon-backspace:before{content:"\e982";}
.nui-icon-home:before{content:"\e983";}
.nui-icon-github-inverted:before{content:"\e984";}
