@font-face{font-family:'nicon';font-style:normal;font-weight:normal;src:url('../icon.woff') format('woff');font-display:block;}

[class^="nicon-"], [class*=" nicon-"]{display:inline-block;font-family:'nicon' !important;font-style:normal;font-weight:normal;font-variant:normal;line-height:1;text-align:center;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}

.nicon-logo:before{content:"\e900";}
.nicon-chrome-minimize:before{content:"\e901";}
.nicon-chrome-close:before{content:"\e902";}
.nicon-chrome-maximize:before{content:"\e903";}
.nicon-chrome-restore:before{content:"\e904";}
.nicon-refresh:before{content:"\e905";}
.nicon-close:before{content:"\e906";}
.nicon-plus:before{content:"\e907";}
.nicon-minus:before{content:"\e908";}
.nicon-check:before{content:"\e909";}
.nicon-times:before{content:"\e90a";}
.nicon-cog:before{content:"\e90b";}
.nicon-tools:before{content:"\e90c";}
.nicon-clock:before{content:"\e90d";}
.nicon-check-circle:before{content:"\e90e";}
.nicon-question-circle:before{content:"\e90f";}
.nicon-info-circle:before{content:"\e910";}
.nicon-exclamation-circle:before{content:"\e911";}
.nicon-exclamation-triangle:before{content:"\e912";}
.nicon-ban:before{content:"\e913";}
.nicon-shield-check:before{content:"\e914";}
.nicon-question:before{content:"\e915";}
.nicon-info:before{content:"\e916";}
.nicon-exclamation:before{content:"\e917";}
.nicon-calendar-alt:before{content:"\e918";}
.nicon-calendar-star:before{content:"\e919";}
.nicon-calendar-day:before{content:"\e91a";}
.nicon-calendar-week:before{content:"\e91b";}
.nicon-chevron-left:before{content:"\e91c";}
.nicon-chevron-right:before{content:"\e91d";}
.nicon-chevron-up:before{content:"\e91e";}
.nicon-chevron-down:before{content:"\e91f";}
.nicon-caret-up:before{content:"\e920";}
.nicon-caret-down:before{content:"\e921";}
.nicon-caret-left:before{content:"\e922";}
.nicon-caret-right:before{content:"\e923";}
.nicon-angle-up:before{content:"\e924";}
.nicon-angle-down:before{content:"\e925";}
.nicon-angle-left:before{content:"\e926";}
.nicon-angle-right:before{content:"\e927";}
.nicon-home:before{content:"\e928";}
.nicon-cogs:before{content:"\e929";}
.nicon-eye-slash:before{content:"\e92a";}
.nicon-eye:before{content:"\e92b";}
.nicon-link:before{content:"\e92c";}
.nicon-unlink:before{content:"\e92d";}
.nicon-toggle-off:before{content:"\e92e";}
.nicon-toggle-on:before{content:"\e92f";}
.nicon-folder:before{content:"\e930";}
.nicon-folder-open:before{content:"\e931";}
.nicon-layer-group:before{content:"\e932";}
.nicon-layer-plus:before{content:"\e933";}
.nicon-layer-minus:before{content:"\e934";}
.nicon-tag:before{content:"\e935";}
.nicon-tags:before{content:"\e936";}
.nicon-cube:before{content:"\e937";}
.nicon-cubes:before{content:"\e938";}
.nicon-expand:before{content:"\e939";}
.nicon-compress:before{content:"\e93a";}
.nicon-cloud:before{content:"\e93b";}
.nicon-cloud-upload-alt:before{content:"\e93c";}
.nicon-cloud-download-alt:before{content:"\e93d";}
.nicon-code-commit:before{content:"\e93e";}
.nicon-code-merge:before{content:"\e93f";}
.nicon-angle-double-left:before{content:"\e940";}
.nicon-angle-double-right:before{content:"\e941";}
.nicon-angle-double-up:before{content:"\e942";}
.nicon-angle-double-down:before{content:"\e943";}
.nicon-pen:before{content:"\e944";}
.nicon-edit:before{content:"\e945";}
.nicon-paperclip:before{content:"\e946";}
.nicon-trash:before{content:"\e947";}
.nicon-trash-alt:before{content:"\e948";}
.nicon-lock:before{content:"\e949";}
.nicon-unlock:before{content:"\e94a";}
.nicon-shield-alt:before{content:"\e94b";}
.nicon-sync-alt:before{content:"\e94c";}
.nicon-history:before{content:"\e94d";}
.nicon-undo-alt:before{content:"\e94e";}
.nicon-redo-alt:before{content:"\e94f";}
.nicon-random:before{content:"\e950";}
.nicon-ellipsis-h:before{content:"\e951";}
.nicon-ellipsis-v:before{content:"\e952";}
.nicon-grip-horizontal:before{content:"\e953";}
.nicon-grip-vertical:before{content:"\e954";}
.nicon-bars:before{content:"\e955";}
.nicon-tasks:before{content:"\e956";}
.nicon-th-large:before{content:"\e957";}
.nicon-th:before{content:"\e958";}
.nicon-th-list:before{content:"\e959";}
.nicon-server:before{content:"\e95a";}
.nicon-tasks-alt:before{content:"\e95b";}
.nicon-sitemap:before{content:"\e95c";}
.nicon-analytics:before{content:"\e95d";}
.nicon-database:before{content:"\e95e";}
.nicon-archive:before{content:"\e95f";}
.nicon-pen-square:before{content:"\e960";}
.nicon-info-square:before{content:"\e961";}
.nicon-question-square:before{content:"\e962";}
.nicon-external-link-square-alt:before{content:"\e963";}
.nicon-qrcode:before{content:"\e964";}
.nicon-columns:before{content:"\e965";}
.nicon-code:before{content:"\e966";}
.nicon-search:before{content:"\e967";}
.nicon-search-minus:before{content:"\e968";}
.nicon-search-plus:before{content:"\e969";}
.nicon-image:before{content:"\e96a";}
